.carousel-image {
    height: 500px; 
    object-fit: cover; 
    object-position: center;
}
.header-image {
    width: 60px;
    height: auto;
}
.abajocreo{
    text-align: center;
    font-size: 12px;
}
body{
    background-color: #D3D3D3;
}
.Saavedra{
    text-decoration: none;
    color: rgba(227, 228, 228, 0.652);
}
.Saavedra:hover{
    color:gray;
}
.with-divider{
    border-right: 1px solid rgba(164, 159, 159, 0.348);
    padding-right: 15px;
}
.with-divider:last-child{
    border-right: none;
}
.Mod{
    color: rgba(198, 198, 198, 0.76); 
}
.Mod:hover{
    color:gray;
}
.Mod2{
    color: rgba(198, 198, 198, 0.76);
}
.dark-transparent {
    background-color: #000;
    color: #fff; 
    border-color: #000000;
}
.dark-transparent:hover{
    background-color: black;
    border-color: #ffffff
}
.navbar{
    background-color: #FFA500;
}
.custom{
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Wix Madefor Display', sans-serif;
}
.container{
    font-family: 'Open Sans', sans-serif;
}
header{
    font-family: 'Poetsen One', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Reddit+Mono:wght@200..900&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Reddit+Mono:wght@200..900&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Reddit+Mono:wght@200..900&display=swap');